.container {
  width: 1140px;
  height: 100%;
  padding: 0;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: #49545e;
  font-family: "Roboto Slab", serif;
}

body header .navigation {
  background-color: #48689a;
}

body header .navigation .navFirst {
  padding-top: 14px;
}

body header .navigation .navFirst .contacts {
  width: 50%;
}

body header .navigation .navFirst .contacts span {
  padding-right: 25px;
}

body header .navigation .navFirst .contacts span a {
  color: #e3e5e8;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .navFirst .settings {
  width: 50%;
}

body header .navigation .navFirst .settings a {
  color: #e3e5e8;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .search input, body header .navigation .search button {
  margin-right: -5px;
  background-color: #48689a;
  border: none;
  border-bottom: 1px solid #9aa6b9;
  outline: none;
  color: #fff;
}

body header .navigation .search input::-webkit-input-placeholder, body header .navigation .search button::-webkit-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input:-ms-input-placeholder, body header .navigation .search button:-ms-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input::-ms-input-placeholder, body header .navigation .search button::-ms-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input::placeholder, body header .navigation .search button::placeholder {
  color: #9aa6b9;
}

body header .navigation .search button {
  color: #9aa6b9;
}

body header .navigation .navSecond {
  height: 52px;
  padding-bottom: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body header .navigation .navSecond .logo {
  height: 52px;
  color: #00cdc6;
  padding: 0px 25px;
  font-size: 30px;
  border: 2px solid #00cdc6;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

body header .navigation .navSecond .menu a {
  color: #e3e5e8;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .navSecond .shop {
  color: #e3e5e8;
  height: 48px;
  padding-right: 45px;
}

body header .navigation .navSecond .shop span {
  padding-right: 10px;
}

body header .navigation .navSecond .shop span i {
  height: 40px;
  width: 40px;
  border: 1px solid #e3e5e8;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .eror404 {
  padding-top: 150px;
}

body .eror404 button {
  width: 400px;
  height: 80px;
  margin: 100px 0px;
  border: 2px solid #3c4852;
  font-size: 22px;
  background-color: #fff;
  font-weight: 400;
}

body .eror404 button:hover {
  background-color: #48689a;
  color: #fff;
}

body footer {
  padding-bottom: 150px;
}

body footer .link a {
  color: #3c4852;
  font-size: 21px;
  padding: 0 15px;
}

body footer .link a:hover {
  color: #48689a;
}

body footer .link p {
  margin: 0;
  padding-right: 30px;
  font-weight: 700;
}
/*# sourceMappingURL=style404.css.map */