.container {
  width: 1140px;
  height: 100%;
  padding: 0;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  color: #49545e;
  font-family: "Roboto Slab", serif;
}

body header .navigation {
  background-color: #48689a;
}

body header .navigation .navFirst {
  padding-top: 14px;
}

body header .navigation .navFirst .contacts {
  width: 50%;
}

body header .navigation .navFirst .contacts span {
  padding-right: 25px;
}

body header .navigation .navFirst .contacts span a {
  color: #e3e5e8;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .navFirst .settings {
  width: 50%;
}

body header .navigation .navFirst .settings a {
  color: #e3e5e8;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .search input, body header .navigation .search button {
  margin-right: -5px;
  background-color: #48689a;
  border: none;
  border-bottom: 1px solid #9aa6b9;
  outline: none;
  color: #fff;
}

body header .navigation .search input::-webkit-input-placeholder, body header .navigation .search button::-webkit-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input:-ms-input-placeholder, body header .navigation .search button:-ms-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input::-ms-input-placeholder, body header .navigation .search button::-ms-input-placeholder {
  color: #9aa6b9;
}

body header .navigation .search input::placeholder, body header .navigation .search button::placeholder {
  color: #9aa6b9;
}

body header .navigation .search button {
  color: #9aa6b9;
}

body header .navigation .navSecond {
  height: 52px;
  padding-bottom: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body header .navigation .navSecond .logo {
  height: 52px;
  color: #00cdc6;
  padding: 0px 25px;
  font-size: 30px;
  border: 2px solid #00cdc6;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

body header .navigation .navSecond .menu a {
  color: #e3e5e8;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

body header .navigation .navSecond .shop {
  color: #e3e5e8;
  height: 48px;
  padding-right: 45px;
}

body header .navigation .navSecond .shop span {
  padding-right: 10px;
}

body header .navigation .navSecond .shop span i {
  height: 40px;
  width: 40px;
  border: 1px solid #e3e5e8;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .brands {
  background-color: #f7f7f7;
  width: 100%;
  height: 220px;
}

body .preFooter {
  padding-top: 90px;
  height: 375px;
}

body .preFooter .card {
  border: none;
  height: 220px;
  padding-right: 40px;
}

body .preFooter .card h1 {
  margin-top: -15px;
  color: #48689a;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

body .preFooter .card h2 {
  font-size: 14px;
  margin-bottom: 40px;
  font-weight: 300;
}

body .preFooter .card h3 {
  margin-bottom: 14px;
  padding-top: 4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

body .preFooter .card a {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 300;
  color: #49545e;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .preFooter .card a:hover {
  color: #48689a;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .preFooter .card .images {
  height: 60px;
  width: 262px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .preFooter .card .images img {
  width: 58px;
  height: 60px;
}

body .preFooter .card .payCards {
  margin-top: 20px;
  height: 75px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

body .preFooter .card .payCards img {
  padding-right: 12px;
  width: 45px;
  height: 25px;
}

body footer .link a {
  color: #3c4852;
  font-size: 21px;
  padding: 0 10px;
}

body footer .link a:hover {
  color: #48689a;
}

body footer .copyrights {
  height: 40px;
  margin-top: 60px;
  background-color: #48689a;
}

body footer .copyrights h4 {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
/*# sourceMappingURL=style_main.css.map */